body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f4f6f9;
  color: #333;
}

/* Encabezado Menu QuickBite Express*/
.encabezado {
  background-color: #51001a !important;
}

/*separar logo de nombre */
.encabezado {
    color:#ffffff;
    display: flex;
    align-items: center; /* para verticalmente */
    justify-content: center; /* para horizontalmente todo el bloque */
    position: relative/*para separarlos y que no se centren ambos*/
}

/* tamaño del logo */
.logo {
    position: absolute;
    left: 0px;
    width: 60px; /* ajustar el tamaño  */
    height: 60px;
    filter: none;
    opacity: 1;
}

/* Barra de navegación */
.marconegro {
  background-color: #000000;
  display: flex;
  justify-content: space-between; /* separa los botones */
  align-items: center;
  padding: 5px 5px;
}

.inicio {
    background-color: #51001a;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.inicio:hover {
    background-color: #a00000;/* Cambia el color al pasar el mouse*/
    transform: scale(1.05);
}

.micuenta  {
    background-color: #51001a;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.micuenta:hover {
    background-color: #a00000;/* lo mismo de arriba*/
    transform: scale(1.05);
}

.admin1 {
  background-color: #ffaa00;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.admin2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.admin2 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin2 li {
  text-align: center;
}

.admin2 a {
  display: block;
  width: 250px;
  background-color: #ffffff;
  padding: 15px;
  text-decoration: none;
  color: #51001a;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.admin2 a:hover {
  background-color: #51001a;
  color: white;
  transform: translateY(-3px);
}

.Cerrar a {
  background-color: #51001a;
  color: white;
}

.Cerrar a:hover {
  background-color: #b71c1c;
}




