/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
/* El ontenedor paara el formulario */
.login-container {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* titulo de iniciar sesion */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}

/* esto es lo que se debe llenar */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Boton para el inicio de sesion */
.boton-dec {
  background-color: #007bff; 
  color: white;
  padding: 10px 10px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.login-btn:hover {
  background-color: #555;
}

/*links de abajo*/
.links {
  margin-top: 10px;/*distancia*/
  text-align: center;
}
/*aqui es el color de los links*/
.links a {
  color: #333;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/*botones para en admin o el cliente*/
.tipo-usuario {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tipo-usuario h1 {
  background-color: #007bff; 
  color: white;
  padding: 10px 10px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.tipo-usuario h2 {
  background-color: #007bff; 
  color: white;
  padding: 10px 10px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.tipo-usuario h1:hover {
  background-color: #024185;
  color: #fff;
}

.tipo-usuario h2:hover {
  background-color: #024185 ;
  color: #fff;
}

.tipo-usuario  {
    display: flex;
    justify-content: space-between; /*separa los botones*/
    align-items: center;
    padding: 10px 10px;
}
