body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h2 {
  color: #000000;
  margin-bottom: 10px;
}

p {
  color: #000000;
  font-size: 14px;
}

.form-group {
  text-align: left;
  margin: 15px 0;
}
.btn{
          background-color: #007bff; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 10px; /* fondo */
        text-align: center; /* Alineación del texto */
        text-decoration: none; /* Eliminar subrayado */
        display: inline-block; /* Permite aplicar padding */
        font-size: 16px;/*tamaño*/
        margin: 10px auto;
        cursor: pointer; /* Cursor de mano al pasar por encima */
        border-radius: 8px; /* Bordes redondeados */
        display: flex;
       justify-content: center; /* Centra horizontalmente */ 
}
.btn:hover {
  background-color: #054f9d; /* azul más oscuro */
}

.links {
  margin-top: 20px;
}

.links a {
  color: #007bff;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  text-decoration: underline;
}


