body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
    font-size: 35px;
}

.seccion {
    margin-bottom: 25px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.volver {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.volver:hover {
    background-color: #034182;
}

.botones{
    text-align: center;
}
