
    /* Estilos globales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #c4bcbca9;
    }
    H1{
      font-size: 35px;
      color: rgb(255, 127, 182);
      text-align: center;
    }


    /* Encabezado */
    header {
      background: linear-gradient(to top, #45535f, #00f2fe);
      /*background-color: #872e2e;*/ Color Sólido
      color: red;
      padding: 20px;
      text-align: center;
    }

    /* Barra de navegación */
    nav {
      background-color: #444;
      padding: 10px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    nav ul li {
      display: inline;
      margin-right: 20px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
    }

    /* Contenido */
    .container {
      max-width: 500px;
      height:300px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(136, 21, 21, 0.76);
    }

    /* Pie de página */
    footer {
      height:50px;
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    .imagen{
      height: 100px;
      width: 80px;
      border: 4px double red;
      border-radius: 13px;
      opacity: 50%;
      float: left;
    }
  