/* Estilos globales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    /* Contenedor del formulario */
    .login-container {
      width: 300px;
      margin: 100px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Títulos */
    .login-title {
      text-align: center;
      margin-bottom: 20px;
    }

    /* Campos de entrada */
    .form-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    /* Botón de inicio de sesión */
    .boton-dec {
        background-color: #934caf; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 20px; /* Relleno interior */
        text-align: center; /* Alineación del texto */
        text-decoration: none; /* Eliminar subrayado */
        display: inline-block; /* Permite aplicar padding */
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; /* Cursor de mano al pasar por encima */
        border-radius: 8px; /* Bordes redondeados */
    }

    .login-btn:hover {
      background-color: #555;
    }

    /* Enlaces adicionales */
    .additional-links {
      margin-top: 10px;
      text-align: center;
    }

    .additional-links a {
      color: #333;
      text-decoration: none;
    }

    .additional-links a:hover {
      text-decoration: underline;
    }
