header{
    background-color: rgb(103, 205, 219);
    text-align: center;
    color: brown;
    height: 100px;
    font-size: 50px;
}
nav{
    background: linear-gradient(to left, #f2a77c, #9f60a5);
    text-align: center;
    color: rgb(9, 27, 15);
    height: 50px;
    font-size: 30px;
}
section{
    margin: 2px;
    background-color: rgb(112, 188, 152);
    text-align: center;
    color: rgb(237, 35, 153);
    height: 400px;
    width: 49%;
    font-size: 20px;
    float: left;
}
footer{
    background-color: rgb(74, 87, 98);
    text-align: center;
    color: rgb(50, 42, 165);
    height: 100px;
    width: 300px;
}
img{
    height: 200px ;
    width: 200px;
    border-radius: 30px ;
    border: 5px rgb(255, 0, 162) dotted;
}
form{
    color: blue;
    text-align: left;
}
